.idea
*.iml
volumes
vault_keys.txt
*.env
.DS_Store
*.log
vault_chown.txt
volumes/minikube/

# Vault initialization files (sensitive)
minikube-local/k8s-local/.vault-init/
*.bin
*.exe

# Exception: Allow kubectl binary in infras-cli (needed for Docker image)
!minikube-local/k8s-local/infras-cli/kubectl
